<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BDPuerto" value="1521"/>
		<add key="BDServidor" value="192.168.0.19"/>
		<add key="NumeroLineasIgnorar" value="3"/>
	</appSettings>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
					propagateActivity="true"
					switchValue="Information, ActivityTracing">
				<listeners>
					<add name="traceListener"
						 initializeData="Traces.svclog"
						 type="System.Diagnostics.XmlWriterTraceListener"/>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="ComportamientoEndPointItinerario">
					<dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483647" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding name="netTcpBinding_IDespachadorItinerario"
						 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
				</binding>
				<binding name="netTcpBinding_IDespachadorSeguridad" />
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://192.168.0.5:3003/"
					  behaviorConfiguration="ComportamientoEndPointItinerario"
					  binding="netTcpBinding" bindingConfiguration="netTcpBinding_IDespachadorItinerario"
					  contract="Proxy.IDespachador"
					  name="netTcpBinding_IDespachadorItinerario">
				<identity>
					<servicePrincipalName value="host/VE-IIS.DAPESA.local" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://192.168.0.5:3001/"
					  binding="netTcpBinding" bindingConfiguration="netTcpBinding_IDespachadorSeguridad"
					  contract="Proxy.IDespachador"
					  name="netTcpBinding_IDespachadorSeguridad">
				<identity>
					<servicePrincipalName value="host/VE-IIS.DAPESA.local" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>