<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="diagnosticoFacturas" type="Dapesa.Facturacion.Servicios.Entidades.CodigosDiagnostico.CodigosError, Dapesa.Facturacion.Servicios.Entidades" allowLocation="true" allowDefinition="Everywhere"/>
	</configSections>
	<diagnosticoFacturas>
		<errores>
			<error codigo="1" mensaje="Error General :: null">
				<flujoAccion tipo="1" reportar="true"/>
			</error>
			<error codigo="2" mensaje="Error al cancelar :: Error General">
				<flujoAccion tipo="1" reportar="true"/>
			</error>
			<error codigo="3" mensaje="Error al cancelar :: El Comprobante aun no ha sido enviado al SAT, favor de Intentar mas tarde">
				<flujoAccion tipo="2" horasValidez="1"/>
			</error>
			<error codigo="4" mensaje="Error al cancelar CFD :: java.lang.ClassCastExceptioncom.buzonfiscal.ns.bf.conector._1.Result cannot be cast to javax.xml.bind.JAXBElement,">
				<flujoAccion tipo="1" reportar="true"/>
			</error>
			<error codigo="5" mensaje="Error al cancelar :: No es posible cancelar el comprobante, El comprobante ya fue cancelado, previamente - E006 - EM">
				<flujoAccion tipo="3"/>
			</error>
			<error codigo="6" mensaje="Ocurrió un error al consumir servicio de emisión RMI">
				<flujoAccion tipo="1" reportar="true"/>
			</error>
			<error codigo="7" mensaje="Error al cancelar :: No es posible cancelar el comprobante, No se encontró el comprobante a cancelar - E005 - EM">
				<flujoAccion tipo="2" reportar="true"/>
			</error>
			<error codigo="8" mensaje="Error al cancelar :: 301 - Error cancelando el comprobante (el XML esta mal formado)">
				<flujoAccion tipo="2" reportar="true"/>
			</error>
			<error codigo="9" mensaje="Error al cancelar :: No es posible cancelar el comprobante, Se excedió el tiempo de espera respuesta SAT, favor de intentar mas tarde - E017 - EM">
				<flujoAccion tipo="1"/>
			</error>
			<error codigo="10" mensaje="Error al cancelar :: 205 - El comprobante a cancelar no se ha enviado al SAT. Por favor, intente mas tarde">
				<flujoAccion tipo="2" horasValidez="1"/>
			</error>
			<error codigo="11" mensaje="Error al cancelar CFD :: javax.xml.bind.UnmarshalException, com.sun.org.apache.xerces.internal.impl.io.MalformedByteSequenceExceptionInvalid byte 2 of 4-byte UTF-8 sequence.,">
				<flujoAccion tipo="1" reportar="true"/>
			</error>
			<error codigo="12" mensaje="Error al cancelar CFD :: com.sun.xml.internal.ws.server.UnsupportedMediaExceptionUnsupported Content-Type: text/html; charset=iso-8859-1 Supported ones are: [text/xml],">
				<flujoAccion tipo="1" reportar="true"/>
			</error>
			<error codigo="13" mensaje="Error al cancelar :: No fue posible contactar al servicio de cancelación, intente mas tarde.">
				<flujoAccion tipo="2" horasValidez="1"/>
			</error>
			<error codigo="14" mensaje="Error al cancelar CFD :: com.sun.xml.internal.ws.client.ClientTransportExceptionHTTP Status-Code 404: Not Found - Not Found,">
				<flujoAccion tipo="1" reportar="true"/>
			</error>
			<error codigo="15" mensaje="Error al cancelar CFD :: java.lang.NullPointerException,">
				<flujoAccion tipo="1" reportar="true"/>
			</error>
		</errores>
	</diagnosticoFacturas>
	<connectionStrings>
		<!--  Para conectarse con privilegios SYSDBA, agregar: DBA Privilege=SYSDBA; a la cadena de conexión -->
		<add name="SIIL_DEMO" connectionString="User Id=SIIL_DEMO; Password=luthe; Data Source=SIIL;" providerName="Oracle.DataAccess.Client"/>
		<add name="SAKILA" connectionString="server=localhost;user id=root; password=root; database=sakila; pooling=false" providerName="MySql.Data.MySqlClient"/>
		<add name="TEST" connectionString="server=localhost;user id=root; password=root; database=test; pooling=false" providerName="MySql.Data.MySqlClient"/>
		<add name="WORLD" connectionString="server=localhost;user id=root; password=root; database=world; pooling=false" providerName="MySql.Data.MySqlClient"/>
		<add name="NORTHWIND" connectionString="Server=VESIS06\SQLEXPRESS;Database=Northwind;User Id=sa;Password=s4;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>