<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ID" value="0Mj2AuoJaQMYycZeUa/Jyg=="/>
    <add key="BDPuerto" value="3303"/>
    <add key="BDServidor" value="192.168.0.189"/>
    <add key="Usuario" value="root"/>
    <add key="pass" value="0000"/>
    <add key="basedatos" value="prueba_costos"/>
    <add key="RutaArchivo" value="C:\Actualizar"/>
    <add key="Ruta_Distinct_Articulos" value="C:\Actualizar\CARGAR\DISTINCT_ARTICULOS_1.csv"/>
    <add key="Ruta_INPC" value="C:\Actualizar\CARGAR\INPC.csv"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ComportamientoEndPointGestorCxC">
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding_IDespachadorGestorCxC"
				         maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="netTcpBinding_IDespachadorSeguridad" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.0.189:3005/"
					  behaviorConfiguration="ComportamientoEndPointGestorCxC"
					  binding="netTcpBinding" bindingConfiguration="netTcpBinding_IDespachadorGestorCxC"
					  contract="Proxy.IDespachador"
					  name="netTcpBinding_IDespachadorGestorCxC">
        <identity>
          <servicePrincipalName value="host/VESIS06.DAPESA.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://192.168.0.189:3001/"
					  binding="netTcpBinding" bindingConfiguration="netTcpBinding_IDespachadorSeguridad"
					  contract="Proxy.IDespachador"
					  name="netTcpBinding_IDespachadorSeguridad">
        <identity>
          <servicePrincipalName value="host/VESIS06.DAPESA.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>