*{
    font-family: arial;
	font-size: 8pt;
}
#divContenido {
    width: 20cm; 
    height: 25cm;
	font-family: arial;
	font-size: 8pt;
    margin: 0px auto; 
    overflow:auto;
    border:1px solid #c6c9d0;  
}
#tblContenido
{ 
    width: 19.8cm; 
    height: 25cm;
    font-family: arial;
	font-size: 8pt; 
    margin-left: 0.2cm; 
}

#tblContenido div
{
    font-size: 8pt; 
    float:left;
    padding: 0px 0px 0px 5px;
}

.div-EstiloBorder
{
    border:1px solid black;
}

.tblContenidoFila3 td
{
    width:0.7cm;
    height:0.7cm; 
    text-align:right;
}
.MarcarCasillas:hover{
    box-shadow: 0px 0px 2px 2px #0094ff;
    cursor:pointer;
}
.gvVenta{
    float:left; 
    font-family: arial;
    font-size: 8pt;
    border-color:#323232;
}
.tdCssMes{
    width:3cm;
    padding: 0px 0px 0px 0.1cm;
}
.tdCssImporte{
    width:3.8cm;
    text-align:right;
    padding: 0cm 0.1cm 0cm 0cm;
}
.tdCssPagoPlazo{
    width:2.5cm;
    text-align:center;
}
.tdCssAtrasoDias{
    width:2.8cm;
    text-align:center;
}
.tdCssObservaciones{
    width:6.5cm;
    text-align:center;
}
#tblComentarios td{
    border: 1px solid black;
    font-family: arial;
	font-size: 8pt; 
}
.upperText {
		text-transform: uppercase;
	}

