<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ComportamientoEndPointGestorCxC">
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding_IDespachadorGestorCxC"
				         maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="netTcpBinding_IDespachadorSeguridad" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.0.191:3005/"
					  behaviorConfiguration="ComportamientoEndPointGestorCxC"
					  binding="netTcpBinding" bindingConfiguration="netTcpBinding_IDespachadorGestorCxC"
					  contract="Proxy.IDespachador"
					  name="netTcpBinding_IDespachadorGestorCxC">
        <identity>
          <servicePrincipalName value="host/VESIS01.DAPESA.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://192.168.0.191:3001/"
					  binding="netTcpBinding" bindingConfiguration="netTcpBinding_IDespachadorSeguridad"
					  contract="Proxy.IDespachador"
					  name="netTcpBinding_IDespachadorSeguridad">
        <identity>
          <servicePrincipalName value="host/VESIS01.DAPESA.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="BDPuerto" value="1521" />
    <add key="BDServidor" value="192.168.0.19" />
    <add key ="RazonSocial" value="Distribuidora de Autopartes Pescador, S.A. de C.V."/>
  </appSettings>
</configuration>