<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ID" value="8816314202D8FD95C8D2A91D829C12FB"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding_IDespachadorSeguridad"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.0.5:3001/" binding="netTcpBinding" bindingConfiguration="netTcpBinding_IDespachadorSeguridad" contract="Proxy.IDespachador" name="netTcpBinding_IDespachadorSeguridad">
        <identity>
          <servicePrincipalName value="host/VE-IIS.DAPESA.local"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.web>
    <authentication mode="Forms">
      <forms name=".rptdrlgn" path="/" loginUrl="InicioSesion.aspx" slidingExpiration="true" timeout="720"/>
    </authentication>
    <globalization culture="es-MX" uiCulture="es-MX" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="error.aspx"/>
        <add value="Error.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>