<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="diagnosticoFacturas" type="Dapesa.Facturacion.Servicios.Entidades.CodigosDiagnostico.CodigosError, Dapesa.Facturacion.Servicios.Entidades" allowLocation="true" allowDefinition="Everywhere"/>
	</configSections>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<param name="File" value="ServicioDiagnosticoFacturas.Log" />
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="[Header]\r\n" />
				<param name="Footer" value="[Footer]\r\n" />
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="[Header]\r\n" />
				<param name="Footer" value="[Footer]\r\n" />
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="LogFileAppender" />
			<appender-ref ref="ConsoleAppender" />
		</root>
	</log4net>
	<diagnosticoFacturas>
		<errores>
			<error codigo="1" mensaje="Error General :: null">
				<flujoAccion tipo="1" reportar="true"/>
			</error>
			<error codigo="2" mensaje="Error al cancelar :: Error General">
				<flujoAccion tipo="1" reportar="true"/>
			</error>
			<error codigo="3" mensaje="Error al cancelar :: El Comprobante aun no ha sido enviado al SAT, favor de Intentar mas tarde">
				<flujoAccion tipo="2" reportar="true" horasValidez="1"/>
			</error>
			<error codigo="4" mensaje="Error al cancelar CFD :: java.lang.ClassCastExceptioncom.buzonfiscal.ns.bf.conector._1.Result cannot be cast to javax.xml.bind.JAXBElement,">
				<flujoAccion tipo="1" reportar="true"/>
			</error>
			<error codigo="5" mensaje="Error al cancelar :: No es posible cancelar el comprobante, El comprobante ya fue cancelado, previamente - E006 - EM">
				<flujoAccion tipo="2" reportar="true"/>
			</error>
			<error codigo="6" mensaje="Ocurrió un error al consumir servicio de emisión RMI">
				<flujoAccion tipo="1" reportar="true"/>
			</error>
			<error codigo="7" mensaje="Error al cancelar :: No es posible cancelar el comprobante, No se encontró el comprobante a cancelar - E005 - EM">
				<flujoAccion tipo="2" reportar="true"/>
			</error>
			<error codigo="8" mensaje="Error al cancelar :: 301 - Error cancelando el comprobante (el XML esta mal formado)">
				<flujoAccion tipo="2" reportar="true"/>
			</error>
			<error codigo="9" mensaje="Error al cancelar :: No es posible cancelar el comprobante, Se excedió el tiempo de espera respuesta SAT, favor de intentar mas tarde - E017 - EM">
				<flujoAccion tipo="1" reportar="true"/>
			</error>
			<error codigo="10" mensaje="Error al cancelar :: 205 - El comprobante a cancelar no se ha enviado al SAT. Por favor, intente mas tarde">
				<flujoAccion tipo="1" reportar="true"/>
			</error>
			<error codigo="11" mensaje="Error al cancelar CFD :: javax.xml.bind.UnmarshalException, com.sun.org.apache.xerces.internal.impl.io.MalformedByteSequenceExceptionInvalid byte 2 of 4-byte UTF-8 sequence.,">
				<flujoAccion tipo="2" reportar="true"/>
			</error>
			<error codigo="12" mensaje="Error al cancelar CFD :: com.sun.xml.internal.ws.server.UnsupportedMediaExceptionUnsupported Content-Type: text/html; charset=iso-8859-1 Supported ones are: [text/xml],">
				<flujoAccion tipo="2" reportar="true"/>
			</error>
			<error codigo="13" mensaje="Error al cancelar :: No fue posible contactar al servicio de cancelación, intente mas tarde.">
				<flujoAccion tipo="2" reportar="true" horasValidez="1"/>
			</error>
			<error codigo="14" mensaje="Error al cancelar CFD :: com.sun.xml.internal.ws.client.ClientTransportExceptionHTTP Status-Code 404: Not Found - Not Found,">
				<flujoAccion tipo="2" reportar="true"/>
			</error>
			<error codigo="15" mensaje="Error al cancelar CFD :: java.lang.NullPointerException,">
				<flujoAccion tipo="2" reportar="true"/>
			</error>
			<error codigo="16" mensaje="No es posible emitir el comprobante, XML no válido según esquema, la estructura del comprobante no corresponde a lo definido por la regulación del SAT - E011 - EM">
				<flujoAccion tipo="2" reportar="true"/>
			</error>
			<error codigo="17" mensaje="No es posible emitir el comprobante, Transacción interrumpida - E080 - EM">
				<flujoAccion tipo="1" reportar="true"/>
			</error>
			<error codigo="18" mensaje="Error al cancelar :: No es posible cancelar el comprobante, No es posible contactar al servicio del SAT para solicitar cancelación, favor de intentar mas tarde - E016 - EM">
				<flujoAccion tipo="2" reportar="true" horasValidez="1"/>
			</error>
			<error codigo="19" mensaje="Error al cancelar CFD :: com.sun.xml.internal.ws.client.ClientTransportExceptionHTTP transport error: java.net.ConnectException: Connection timed out: connect, java.net.ConnectExceptionConnection timed out: connect,">
				<flujoAccion tipo="2" reportar="true"/>
			</error>
		</errores>
	</diagnosticoFacturas>
	<appSettings>
		<add key="CorreoAsunto" value="AVISO IMPORTANTE FACTURA CANCELADA NO PROCESADA"/>
		<add key="CorreoCC" value="ricardo_melchor@dapesa.com.mx"/>
		<add key="CorreoCuenta" value="mensajero@dapesa.com.mx"/>
		<add key="CorreoCP" value="mensajero"/>
		<add key="CorreoDestinatario" value="ricardo_melchor@dapesa.com.mx"/>
		<add key="CorreoPuerto" value="25"/>
		<add key="CorreoServidor" value="smtp.dapesa.com.mx"/>
		<add key="DirectorioDiagnostico" value="C:\Users\ricardo.melchor\Downloads\errores"/>
		<add key="DirectorioEntrada" value="C:\Users\ricardo.melchor\Downloads\entrada"/>
		<add key="DirectorioProcesados" value="C:\Users\ricardo.melchor\Downloads\procesados"/>
		<add key="HoraDetencion" value="21:30"/>
		<add key="HoraDetencionSabado" value="15:30"/>
		<add key="HoraReanudacion" value="7:30"/>
		<add key="TemporizadorCorreo" value="150000"/>
		<add key="TemporizadorProceso" value="7000"/>
	</appSettings>
</configuration>